section {
	width: 800px;
	display: none;

}

#section-one {
	background-color: yellow;
	display: block;
}

#section-two {
	background-color: orange;
}

#section-three {
	background-color: purple;
}

#section-four {
	background-color: green;
}

#section-five {
	background-color: pink;
}

main {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

ul li {
	display: inline-block;
}